<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- 开发版本 -->
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <!-- 生产版本（网站上线使用的版本） -->
    <!-- <link rel="stylesheet" href="static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css"> -->
</head>
<body>
    <h1>登录成功，欢迎！</h1>
    <input type="button" value="提交" class="btn btn-danger">
    <input type="button" value="提交" class="btn btn-primary">
    <input type="button" value="提交" class="btn btn-success">
    <input type="button" value="提交" class="btn btn-default">
</body>
</html>